TaskFlow Workflow.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "342df508-bfac-4f12-842b-72bb0d14ed56",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "50c73cf7-d0cd-40e2-9a16-de30b0f018ce",
      "name": "Webhook",
      "webhookId": "342df508-bfac-4f12-842b-72bb0d14ed56"
    },
    {
      "parameters": {
        "jsCode": "const todos = items[0].json.body.todos;\n\nconst completedRows = todos\n  .filter(todo => todo.completed)\n  .map(todo => \n    `<tr>\n      <td>${todo.title}</td>\n      <td>${todo.description}</td>\n      <td>${todo.time || 'No time set'}</td>\n    </tr>`\n  ).join('\\n');\n\nconst notCompletedRows = todos\n  .filter(todo => !todo.completed)\n  .map(todo =>\n    `<tr>\n      <td>${todo.title}</td>\n      <td>${todo.description}</td>\n      <td>${todo.time || 'No time set'}</td>\n    </tr>`\n  ).join('\\n');\n\n// Completed tasks table (green)\nlet completedTable = `\n<h3 style=\"color:green; font-family:sans-serif;\">Completed Tasks</h3>\n<table border=\"1\" cellpadding=\"8\" cellspacing=\"0\" style=\"font-family:sans-serif; border-collapse:collapse; width:100%;\">\n  <tr style=\"background-color:#eafbe7;\">\n    <th>Title</th>\n    <th>Description</th>\n    <th>Time</th>\n  </tr>\n  ${completedRows || '<tr><td colspan=\"3\">No tasks completed today.</td></tr>'}\n</table>\n`;\n\n// Not completed tasks table (red)\nlet notCompletedTable = `\n<h3 style=\"color:red; font-family:sans-serif;\">Not Completed Tasks</h3>\n<table border=\"1\" cellpadding=\"8\" cellspacing=\"0\" style=\"font-family:sans-serif; border-collapse:collapse; width:100%;\">\n  <tr style=\"background-color:#faeaea;\">\n    <th>Title</th>\n    <th>Description</th>\n    <th>Time</th>\n  </tr>\n  ${notCompletedRows || '<tr><td colspan=\"3\">All tasks completed today!</td></tr>'}\n</table>\n`;\n\nlet html = `\n<h2 style=\"font-family:sans-serif; color:#2d6cdf; margin-bottom:10px;\">Gokul, here’s your daily task summary</h2>\n${completedTable}\n${notCompletedTable}\n<p style=\"font-size:19px; color:#34495e; font-family:sans-serif; margin-top:20px;\">\n  Congrats, goodnight!\n</p>\n`;\n{{}}\nreturn [{ json: { emailBody: html } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        48
      ],
      "id": "c284a9d1-c95f-4759-8364-2e5b11fd7844",
      "name": "Code"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21,
              "triggerAtMinute": 38
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        16,
        176
      ],
      "id": "a5b84821-5572-429a-a0f6-ca8d3e424f6d",
      "name": "Schedule Trigger",
      "executeOnce": false
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "+919790885720",
        "toWhatsapp": true,
        "message": "=Remainder to Complete Your Task\nComplete it as soon as possible!",
        "options": {
          "statusCallback": ""
        }
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        928,
        192
      ],
      "id": "5ff3966c-6f10-44f8-9323-66fe00d021ab",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "r2zPj1SmIY0a5WqU",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "gokulsiva1101@gmail.com",
        "subject": "Your Todo List",
        "message": "={{ $json.emailBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1392,
        32
      ],
      "id": "f1dfa136-93c2-4bcd-9433-c6f951a7f313",
      "name": "Send a message",
      "webhookId": "39bcd4e8-246b-4844-8a62-41fb49f53f53",
      "credentials": {
        "gmailOAuth2": {
          "id": "ET0X1Mp35RXddGMV",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an SMS/MMS/WhatsApp message": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "2d3127a5-f655-4639-b37b-f07da463da95",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e8fb29348dce4db32d913fc974a4cf54f7cd03b871771f59e8ac9dad2670996"
  },
  "id": "AtdwaLqcsTIn9Ysg",
  "tags": []
}